.row-fluid(ng-controller='FeedbackController', ng-show='feedbacks != null')
    .span12
        h1= t('admin.feedback.title')
        p(ng-hide='feedbacks.length > 0')= t('admin.feedback.desc')
        table.table.table-bordered.table-hover(ng-show='feedbacks.length > 0')
            thead
                tr
                    th= t('admin.feedback.table.time')
                    th= t('admin.feedback.table.content')
                    th
            tbody
                tr(ng-repeat='feedback in feedbacks')
                    td(ng-bind='feedback.formattedTime')
                    td(ng-bind='feedback.content')
                    td: a.btn.btn-danger(ng-click='deleteFeedback(feedback)')= t('common.delete')