.row-fluid(ng-controller='ProductsController', ng-show='products != null')
    .span12
        h1 Laoseis
        p(ng-hide='products.length > 0') Tooteid ei ole. Uute toodete lisamiseks vajuta nuppu "Lisa toode"
        table.table.table-bordered.table-hover(ng-show='products.length > 0')
            thead
                tr
                    th Toode
                    th Hind
                    th Kogus
                    th
            tbody
                tr(ng-repeat='product in products') 
                    td(ng-bind='product.name')
                    td(ng-bind-template='{{product.price}} €')
                    td(ng-bind='product.quantity')
                    td
                        .btn-group
                            a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                                | Muuda 
                                span.caret
                              ul.dropdown-menu
                                li: a(ng-click='openProductDialog(product)') Muuda toodet
                                li: a(ng-click='deleteProduct(product)') Kustuta
        button.btn.btn-large(ng-click='openProductDialog()') Lisa toode