.row-fluid(ng-controller='StatusesController', ng-show='statuses != null')
    .span12
        h1 Staatused
        p(ng-hide='statuses.length > 0') Staatuseid ei ole. Lisamiseks vajuta nuppu "Lisa staatus"
        table.table.table-bordered.table-hover(ng-show='statuses.length > 0')
            thead
                tr
                    th Nimetus
                    th
            tbody
                tr(ng-repeat='status in statuses') 
                    td(ng-bind='status.name')
                    td: a.btn.btn-danger(ng-click='deleteStatus(status)') Kustuta
        button.btn.btn-large(ng-click='openStatusDialog()') Lisa staatus