.row-fluid(ng-controller='StocktakingController')
    .span12
        h1 Inventuur
        p(ng-hide='stocktakings.length > 0') Inventuure pole veel tehtud. Uue inventuuri tegemiseks vajuta nuppu "Inventuur". 
        p Inventuuri tegemine nullib kõikide kasutajate saldod ning eemaldab tehingud. Tulemus salvestatakse CSV faili, mida saab igal ajal siit menüüst uuesti alla laadida.
        table.table.table-bordered.table-hover(ng-show='stocktakings.length > 0')
            thead
                tr
                    th Aeg
                    th Saldo summa
                    th Tehingute summa
                    th Laoseis
                    th
            tbody
                tr(ng-repeat='stocktaking in stocktakings')
                    td(ng-bind='stocktaking.formattedTime')
                    td {{stocktaking.balancesSum}} €
                    td {{stocktaking.transactionsSum}} €
                    td {{stocktaking.productsQuantity}}
                    td: a.btn(ng-click='downloadCSV(stocktaking)') Laadi alla
        button.btn.btn-danger.btn-large(ng-click='stocktaking()') Inventuur
