.row-fluid(ng-controller='TransactionsController', ng-show='transactions != null')
    .span12
        h1 Tehingud
        p(ng-hide='transactions.length > 0') Käesoleval perioodil ei ole veel tehinguid tehtud.
        div(ng-show='transactions.length > 0')
            p Tehingu kohta rohkem info saamiseks või tehingu katkestamiseks vajuta tehingu reale.
            table.table.table-bordered.table-hover
                thead
                    tr
                        th Aeg
                        th Nimi
                        th Summa
                        th Makseviis
                tbody
                    tr(ng-repeat='transaction in transactions', class='{{transaction.invalid && "error" || ""}}', ng-click='openDialog(transaction)')
                        td(ng-bind='transaction.formattedTime')
                        td(ng-bind='transaction.user.label')
                        td {{transaction.sum}} €
                        td(ng-bind='transaction.type')
                tfoot
                    tr
                        th
                        th Kokku
                        th(ng-bind-template='{{totalSum()}} €')
                        th