.row-fluid(ng-controller='UsersController', ng-show='users != null')
    .span12
        h1 Kasutajad
        p(ng-hide='users.length > 0') Kasutajaid ei ole. Uue kasutaja lisamiseks vajuta nuppu Lisa kasutaja.
        div(ng-show='users.length > 0')
            .control-group
                .controls
                    input(type='text', placeholder='Kasutaja nimi', ng-model='filter')
            table.table.table-bordered.table-hover
                thead
                    tr
                        th(ng-click='sort("status")') Staatus
                        th(ng-click='sort("firstname")') Eesnimi
                        th(ng-click='sort("lastname")') Perenimi
                        th(ng-click='sort("beername")') Õllenimi
                        th(ng-click='sort("balance")') Saldo
                        th
                tbody
                    tr(ng-repeat='user in filteredUsers()') 
                        td(ng-bind='user.status')
                        td(ng-bind='user.firstname')
                        td(ng-bind='user.lastname')
                        td(ng-bind='user.beername')
                        td(ng-bind-template='{{user.balance}} €')
                        td
                            .btn-group
                                a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                                    | Muuda 
                                    span.caret
                                  ul.dropdown-menu
                                    li: a(ng-click='openUserDialog(user)') Muuda kasutajat
                                    li: a(ng-click='openBalanceDialog(user)') Muuda saldot
                                    li: a(ng-click='deleteUser(user)') Kustuta
        button.btn.btn-large(ng-click='openUserDialog()') Lisa kasutaja
        &nbsp;
        button.btn.btn-danger.btn-large(ng-click='clearBalances()') Nulli saldod