<section class="content-header">
	<h1>Tooted</h1>
</section>
<section class="content" ng-controller="ProductsController">
	<div ng-show="products != null" class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-body">
					<p ng-hide="products.length > 0">Tooteid ei ole. Uute toodete lisamiseks vajuta nuppu "Lisa toode"</p>
					<table ng-show="products.length > 0" class="table table-bordered table-hover">
						<thead>
						<tr>
							<th ng-click="sort('name')">Toode</th>
							<th ng-click="sort('price')">Hind</th>
							<th ng-click="sort('quantity')">Kogus</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="product in sortedProducts()" ng-click="openProductDialog(product)">
							<td ng-bind="product.name"></td>
							<td ng-bind-template="{{product.price}} €"></td>
							<td ng-bind="product.quantity" ng-style="{color: rowColor(product)}"></td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer clearfix no-border">
					<uib-pagination ng-show="totalProd > 10" class="pagination-sm no-margin pull-right" direction-links="false" total-items="totalProd" ng-model="currentPage"></uib-pagination>
					<button type="button" ng-click="openProductDialog()" class="btn btn-primary"><i class="fa fa-plus"></i> Lisa toode</button>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="products != null" class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-body">
					<p>Tooteid laos kokku: <strong ng-bind="totalProducts"></strong></p>
				</div>
			</div>
		</div>
	</div>
</section>