<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<section class="content-header">
	<h1>Profiil</h1>
</section>
<section class="content" ng-controller="ProfileController">
	<div class="row">
		<div class="col-md-3">
			<!-- Profile Image -->
			<div class="box box-primary">
				<div class="box-body box-profile">

					<h3 class="profile-username text-center" ng-bind-template="{{user.firstName+' '+ user.lastName}}"></h3>

					<p class="text-muted text-center" ng-bind="user.beerName"></p>

					<ul class="list-group list-group-unbordered">
						<li class="list-group-item">
							<b>Staatus</b> <a class="pull-right" ng-bind="user.status.name"></a>
						</li>
						<li class="list-group-item">
							<b>Saldo</b> <a class="pull-right" ng-bind="user.balance"></a>
						</li>
					</ul>

					<a sec:authorize="hasRole('NOTIFICATIONS_MODIFY')" href="#" class="btn btn-primary btn-block"><b>Saada teavitus</b></a>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->

			<!-- About Me Box -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Muu info</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">

					<div ng-if="user.userProfile.email">
						<strong><i class="fa fa-envelope margin-r-5"></i> E-post</strong>
						<p class="text-muted"><a ng-href="mailto:{{user.userProfile.email}}" ng-bind="user.userProfile.email"></a></p>
						<hr/>
					</div>

					<div ng-if="user.userProfile.address">
						<strong><i class="fa fa-map-marker margin-r-5"></i> Elukoht</strong>
						<p class="text-muted" ng-bind="user.userProfile.address"></p>
						<hr/>
					</div>

					<div ng-if="user.userProfile.phone">
						<strong><i class="fa fa-phone margin-r-5"></i> Telefon</strong>
						<p class="text-muted" ng-bind="user.userProfile.phone"></p>
						<hr/>
					</div>

					<div ng-if="user.userProfile.birthdate">
						<strong><i class="fa fa-gift margin-r-5"></i> Sünniaeg</strong>
						<p class="text-muted" ng-bind="user.userProfile.birthdate | amDateFormat:'LL'"></p>
						<hr/>
					</div>

					<strong><i class="fa fa-lock margin-r-5"></i> Rollid</strong>
					<p>
						<span class="label label-success" style="margin-right: 5px;white-space: normal;" ng-repeat="role in user.roles">{{role.name}} <i class="fa fa-times" style="cursor: pointer;" ng-click="removeRole(role)"></i></span>
					</p>
					<div sec:authorize="hasRole('ROLES_MODIFY')" ng-if="availableRoles.length > 0">
						<select ng-change="addRole(newRole)" class="form-control" ng-options="role as role.name for role in availableRoles track by role.id" ng-model="newRole">
							<option value="">Lisa roll...</option>
						</select>
					</div>

				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
		<div class="col-md-9">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#timeline" onclick="return false;" data-toggle="tab">Tegevused</a></li>
					<li><a href="#settings" ng-click="$event.preventDefault();openSettings()" data-toggle="tab">Muuda andmeid</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="timeline">
						<!-- The timeline -->
						<ul class="timeline timeline-inverse">
							<!-- timeline time label -->
							<li class="time-label">
                        <span class="bg-red">
                          Veebruar 2015
                        </span>
							</li>
							<!-- /.timeline-label -->
							<!-- timeline item -->
							<li>
								<i class="fa fa-envelope bg-blue"></i>

								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

									<h3 class="timeline-header"><a href="#">Osales üritusel</a> Eesti Vabariigi aastapäev</h3>

									<div class="timeline-body">
										Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
										weebly ning heekya handango imeem plugg dopplr jibjab, movity
										jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
										quora plaxo ideeli hulu weebly balihoo...
									</div>
								</div>
							</li>
							<!-- END timeline item -->
							<!-- timeline item -->
							<li>
								<i class="fa fa-user bg-aqua"></i>
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
									<h3 class="timeline-header no-border"><a href="#">Laekumine</a> ülekandega 30 €</h3>
								</div>
							</li>
							<!-- END timeline item -->
							<!-- timeline item -->
							<li>
								<i class="fa fa-comments bg-yellow"></i>

								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

									<h3 class="timeline-header"><a href="#">Konvendi rent</a> 30 €</h3>

									<div class="timeline-body">
										Toimub sünnipäev või mingi muu kommentaar
									</div>
								</div>
							</li>
							<!-- END timeline item -->
							<!-- timeline time label -->
							<li class="time-label">
                        <span class="bg-green">
                          Jaanuar 2015
                        </span>
							</li>
							<!-- /.timeline-label -->
							<!-- timeline item -->
							<li>
								<i class="fa fa-user bg-aqua"></i>
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
									<h3 class="timeline-header no-border"><a href="#">Laekumine</a> sulas 20 €</h3>
								</div>
							</li>
							<!-- END timeline item -->
							<li>
								<i class="fa fa-clock-o bg-gray"></i>
							</li>
						</ul>
					</div>
					<!-- /.tab-pane -->

					<div class="tab-pane" id="settings" ng-controller="SettingsController">
						<form role="form" ng-submit="save(user, userProfile, maskedBirthDate)" class="form-horizontal">
							<h4>Üldinfo</h4>
							<div class="form-group">
								<label class="control-label col-sm-2">Staatus</label>
								<div class="col-sm-3">
									<select class="form-control" ng-options="status as status.name for status in statuses track by status.id" ng-model="user.status"></select>
								</div>
							</div>
							<div class="form-group">
								<label for="inputFirstname" class="control-label col-sm-2">Eesnimi</label>
								<div class="col-sm-5">
									<input id="inputFirstname" type="text" placeholder="Eesnimi" ng-model="user.firstName" class="form-control" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="inputLastname" class="control-label col-sm-2">Perenimi</label>
								<div class="col-sm-5">
									<input id="inputLastname" type="text" placeholder="Perenimi" ng-model="user.lastName" class="form-control" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="inputBeername" class="control-label col-sm-2">Õllenimi</label>
								<div class="col-sm-5">
									<input id="inputBeername" type="text" placeholder="Õllenimi" ng-model="user.beerName" class="form-control"/>
								</div>
							</div>
							<div class="form-group">
								<label for="inputBalance" class="control-label col-sm-2">Saldo</label>
								<div class="col-sm-3">
									<div class="input-group">
										<input id="inputBalance" type="number" step="any" placeholder="0.00" ng-model="user.balance" class="form-control"/><span class="input-group-addon">€</span>
									</div>
								</div>
							</div>
							<h4>Profiil</h4>
							<div class="form-group">
								<label for="inputEmail" class="col-sm-2 control-label">E-post</label>
								<div class="col-sm-5">
									<input type="email" class="form-control" id="inputEmail" ng-model="userProfile.email" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPhone" class="col-sm-2 control-label">Telefon</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="inputPhone" ng-model="userProfile.phone"/>
								</div>
							</div>
							<div class="form-group">
								<label for="inputAddress" class="col-sm-2 control-label">Elukoht</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="inputAddress" placeholder="Tänav, Linn, Indeks" ng-model="userProfile.address"/>
								</div>
							</div>
							<div class="form-group">
								<label for="inputBirthday" class="col-sm-2 control-label">Sünniaeg</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" id="inputBirthday" placeholder="" ng-model="maskedBirthDate" inputmaskdate=""/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-5">
									<button type="submit" class="btn btn-primary">Muuda infot</button>
									<button type="button" ng-click="delete(user)" class="btn btn-danger">Kustuta liige</button>
								</div>
							</div>
						</form>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- /.nav-tabs-custom -->
		</div>
		<!-- /.col -->
	</div>
</section>
</div>