<section class="content-header">
	<h1>Staatused</h1>
</section>
<section class="content">
	<div ng-controller="StatusesController" ng-show="statuses != null" class="row">
		<div class="col-md-12" ng-if="statuses.length == 0">
			<div class="box">
				<div class="box-body">
					<p>Staatuseid ei ole. Lisamiseks vajuta nuppu "Lisa staatus"</p>
				</div>
			</div>
		</div>
		<div class="col-md-3" ng-if="statuses.length > 0">
			<div class="box">
				<div class="box-body">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>Nimetus</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="status in statuses" ng-click="openStatusDialog(status)">
							<td ng-bind="status.name"></td>
						</tr>
						</tbody>
					</table>
					<br/>
					<button ng-click="openStatusDialog()" class="btn btn-primary">Lisa staatus</button>
				</div>
			</div>
		</div>
	</div>
</section>