<section class="content-header">
	<h1>Tehingud</h1>
</section>
<section class="content" ng-controller="TransactionsController">
	<div ng-show="transactions != null" class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-body">
					<p ng-hide="transactions.length > 0">Käesoleval perioodil ei ole veel tehinguid tehtud.</p>
					<div ng-show="transactions.length > 0">
						<table class="table table-bordered table-hover">
							<thead>
							<tr>
								<th>Aeg</th>
								<th>Nimi</th>
								<th>Makseviis</th>
								<th>Summa</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="transaction in filteredTransactions()" ng-class="{danger: transaction.invalid}" ng-click="openDialog(transaction)">
								<td ng-bind="transaction.formattedTime"></td>
								<td ng-bind="transaction.user.label"></td>
								<td ng-bind="transaction.paytype"></td>
								<td>{{transaction.sum}} €</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="box-footer clearfix no-border">
					<uib-pagination ng-if="totalTransactions > 10" class="pagination-sm no-margin pull-right" direction-links="false" total-items="totalTransactions" ng-model="currentPage"></uib-pagination>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="transactions != null" class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-body">
					<p>Kokku: <strong ng-bind-template="{{totalSum}} €"></strong></p>
				</div>
			</div>
		</div>
	</div>
</section>