.row(ng-controller='TransactionsController', ng-show='transactions != null')
    .col-md-12
        br
        p(ng-hide='transactions.length > 0') Käesoleval perioodil ei ole veel tehinguid tehtud.
        div(ng-show='transactions.length > 0')
            table.table.table-bordered.table-hover
                thead
                    tr
                        th Aeg
                        th Nimi
                        th Makseviis
                        th Summa
                tbody
                    tr(ng-repeat='transaction in transactions', ng-class='{danger: transaction.invalid}', ng-click='openDialog(transaction)')
                        td(ng-bind='transaction.formattedTime')
                        td(ng-bind='transaction.user.label')
                        td(ng-bind='transaction.paytype')
                        td {{transaction.sum}} €
                tfoot
                    tr
                        th
                        th
                        th Kokku
                        th(ng-bind-template='{{totalSum()}} €')