<!DOCTYPE html>
<html>
<section class="content-header">
	<h1>Liikmed</h1>
</section>
<section class="content">
	<div class="row" ng-controller="UsersController" ng-show="users != null">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title"></h3>
					<div class="box-tools">
						<div class="input-group input-group-sm" style="width: 150px;">
							<input type="text" placeholder="Kasutaja nimi" ng-model="filter" class="form-control pull-right"/>
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th ng-click="sort(&quot;status.name&quot;)">Staatus</th>
							<th ng-click="sort(&quot;firstName&quot;)">Eesnimi</th>
							<th ng-click="sort(&quot;lastName&quot;)">Perenimi</th>
							<th ng-click="sort(&quot;beerName&quot;)">Õllenimi</th>
							<th ng-click="sort(&quot;balance&quot;)">Saldo</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="user in filteredUsers()" ng-click="openUserDialog(user)">
							<td ng-bind="user.status.name"></td>
							<td ng-bind="user.firstName"></td>
							<td ng-bind="user.lastName"></td>
							<td ng-click="openUserDialog(user)" ng-bind="user.beerName"></td>
							<td ng-click="openUserDialog(user)" ng-bind-template="{{user.balance}} €"></td>
						</tr>
						</tbody>
						<tfoot>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th>Kokku</th>
							<th ng-bind-template="{{totalBalance()}} €"></th>
						</tr>
						</tfoot>
					</table>
					<br/>
				</div>
				<!-- /.box-body -->
				<div class="box-footer clearfix no-border">
					<uib-pagination class="pagination-sm no-margin pull-right" direction-links="false" total-items="totalUsers" ng-model="currentPage"></uib-pagination>
					<button type="button" ng-click="openUserDialog()" class="btn btn-primary"><i class="fa fa-plus"></i> Lisa liige</button>
				</div>
			</div>
			<!-- /.box -->
		</div>
	</div>
</section>
</html>