<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" ng-click="$hide()" class="close">&times;</button>
				<h4 class="modal-title">Lisa laekumine</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="inputType">Tüüp</label>
						<select select2="" ng-change="changeType(income)" ng-model="income.type" class="form-control" ng-options="type as type.name for type in incomeTypes">
							<option value="">Vali tüüp...</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" ng-change="changeNewType(income)" ng-model="income.newType" class="form-control" id="inputType" placeholder="Või lisa uus"/>
					</div>
					<div class="form-group">
						<label for="user">Kasutaja</label>
						<select select2="" ng-model="income.user" id="user" class="form-control" ng-options="user as user.label for user in users">
							<option value="">Vali kasutaja...</option>
						</select>
					</div>
					<div class="form-group">
						<label>Aeg</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" ng-model="income.date" class="form-control" inputmaskdate="" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="amount">Summa</label>
						<div class="input-group">
							<input id="amount" ng-model="income.amount" type="number" class="form-control" />
							<span class="input-group-addon">€</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button ng-click="save(income)" class="btn btn-success">Lisa</button>
			</div>
		</div>
	</div>
</div>