<div class="modal-header">
	<button type="button" ng-click="$dismiss()" class="close">&times;</button>
	<h4 class="modal-title">Lisa kohustus</h4>
</div>
<div class="modal-body">
	<form role="form" class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-3">Tüüp</label>
			<div class="col-sm-5">
				<select ng-if="vm.obligationTypes.length > 0" ng-change="vm.changeType(vm)" ng-model="vm.type" class="form-control" ng-options="type as type.name for type in vm.obligationTypes">
					<option value="">Vali tüüp...</option>
				</select>
				<input ng-if="vm.obligationTypes.length === 0" type="text" ng-change="vm.changeNewType(vm)" ng-model="vm.newType" class="form-control" placeholder="Kohustuse tüüp (Repart, Liikmemaks)"/>
			</div>
		</div>
		<div class="form-group" ng-if="vm.obligationTypes.length > 0">
			<div class="col-sm-4 col-sm-offset-3">
				või
			</div>
		</div>
		<div class="form-group" ng-if="vm.obligationTypes.length > 0">
			<div class="col-sm-5 col-sm-offset-3">
				<input type="text" ng-change="vm.changeNewType(vm)" ng-model="vm.newType" class="form-control" placeholder="lisa uus..."/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Kasutaja</label>
			<div class="col-sm-5">
				<ui-select multiple="" ng-model="vm.user">
					<ui-select-match placeholder="Vali liikmed...">
						{{$item.label}}
					</ui-select-match>
					<ui-select-choices repeat="user in (vm.users | filter: $select.search) track by user.id">
						<span ng-bind-html="user.label | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Kirjeldus</label>
			<div class="col-sm-5">
				<textarea class="form-control" rows="5" ng-model="vm.description"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3"></div>
			<div class="col-sm-4">
				<div class="checkbox">
					<input id="recurring" type="checkbox" ng-model="vm.recurring" icheck="icheck"/>
					<label for="recurring">Korduv</label>
				</div>
			</div>
		</div>
		<div class="form-group" ng-if="!vm.recurring">
			<label class="control-label col-sm-3">Aeg</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input type="text" ng-model="vm.date" class="form-control" inputmaskdate=""/>
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group" ng-if="vm.recurring">
			<label class="control-label col-sm-3">Periood</label>
			<div class="col-sm-3">
				<div class="input-group">
					<button type="button" class="btn btn-default" periodpicker="" period-start="vm.periodStart" period-end="vm.periodEnd">
						<i class="fa fa-calendar"></i> Vali periood
						<i class="fa fa-caret-down"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="form-group" ng-if="vm.recurring &amp;&amp; vm.periodStart">
			<div class="col-sm-offset-3 col-sm-8">
				Valitud: <span ng-bind="vm.periodStart | amDateFormat: 'll'"></span> - <span ng-bind="vm.periodEnd | amDateFormat: 'll'"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Summa kokku</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input ng-model="vm.amount" type="number" class="form-control" ng-change="vm.changeAmount(vm)" />
					<span class="input-group-addon">€</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
				või
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Liikme kohta</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input ng-model="vm.amountPerUser" type="number" class="form-control"  ng-change="vm.changeAmountPerUser(vm)" />
					<span class="input-group-addon">€</span>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button ng-click="vm.save(vm)" class="btn btn-success"><i class="fa fa-plus"></i> Lisa</button>
</div>