.modal
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', ng-click='$hide()') &times;
                h4.modal-title Lisa tagasiside
            .modal-body
                p.bg-danger(ng-show='error') Viga salvestamisel. Kontrolli andmete korrektsust!
                form.form-horizontal(ng-submit='save(feedback)')
                    .form-group
                        label.control-label.col-md-2(for='content') Sisu
                        .col-md-9
                            textarea.form-control#content(rows='5', placeholder='Kirjuta siia', ng-model='feedback.content', focus-me)
            .modal-footer
                button.btn.btn-success(ng-click='save(feedback)') Salvesta