.modal
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', ng-click='$hide()') &times;
                h4.modal-title Tehingu info
            .modal-body
                p Aeg:
                    strong(ng-bind='transaction.formattedTime')
                p Nimi:
                    strong(ng-bind='transaction.user.label')
                p Makseviis:
                    strong(ng-bind='transaction.paytype.name')
                h3 Tooted
                table.table.table-bordered.table-condensed
                    thead
                        tr
                            th Toode
                            th Hind
                            th Kogus
                    tbody
                        tr(ng-repeat='product in transaction.products')
                            td(ng-bind='product.name')
                            td {{product.price}} #{t.message('common.currency')}
                            td(ng-bind='product.quantity')
            .modal-footer
                button.btn.btn-danger(ng-hide='transaction.invalid', ng-click='invalidate(transaction)') Katkesta tehing