.modal
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', ng-click='$hide()') &times;
                h4.modal-title Lisa/Muuda kasutajat
            .modal-body
                p.bg-danger(ng-show='error') Viga salvestamisel. Kontrolli andmete korrektsust!
                form.form-horizontal(role='form', ng-submit='save(user)')
                    .form-group
                        label.control-label.col-sm-2(for='inputStatus') Staatus
                        .col-sm-3
                            select.form-control(ng-model='user.status', ng-options='status.name for status in statuses', required, focus-me)
                    .form-group
                        label.control-label.col-sm-2(for='inputFirstname') Eesnimi
                        .col-sm-5
                            input#inputFirstname.form-control(type='text', placeholder='Eesnimi', ng-model='user.firstName')
                    .form-group
                        label.control-label.col-sm-2(for='inputLastname') Perenimi
                        .col-sm-5
                            input#inputLastname.form-control(type='text', placeholder='Perenimi', ng-model='user.lastName')
                    .form-group
                        label.control-label.col-sm-2(for='inputBeername') Õllenimi
                        .col-sm-5
                            input#inputBeername.form-control(type='text', placeholder='Õllenimi', ng-model='user.beerName')
                    .form-group
                        label.control-label.col-sm-2(for='inputBalance') Saldo
                        .col-sm-3
                            .input-group
                                input.form-control(type='number', placeholder='0',ng-model='user.balance')
                                span.input-group-addon #{t.message('common.currency')}
            .modal-footer
                button.btn.btn-danger(ng-show='user.id !== undefined', ng-click='delete(user)') Kustuta
                button.btn.btn-success(ng-click='save(user)') Salvesta