extends layout

block content
    .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
            .container-fluid
              button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              .nav-collapse.collapse
                ul.nav(ng-controller='NavController')
                    li
                        a(href='/') Kassa
                    li(ng-class='{active: isActive("users")}')
                        a(href='#users') Kasutajad
                    li(ng-class='{active: isActive("transactions")}')
                        a(href='#transactions') Tehingud
                    li(ng-class='{active: isActive("products")}')
                        a(href='#products') Laoseis
                    li(ng-class='{active: isActive("paytypes")}')
                        a(href='#paytypes') Makseviisid
                    li(ng-class='{active: isActive("statuses")}')
                        a(href='#statuses') Staatused
    .container-fluid(ng-view)