extends layout

block content
        .container-fluid(ng-controller='PosController')
            .row-fluid
                .span12
                    h2 Kassa
            br
            .row-fluid
                .span12
                    p Tehingu tegemiseks vali klient.
            .row-fluid
                .span5
                    .control-group(class='{{user != null && "success" || "error"}}')
                        .controls
                            input(type='text', placeholder='Kliendi nimi', ng-model='user', 
                                typeahead='user as user.label for user in users | filter:$viewValue')
                .span7
                    .alert(ng-show='status != null', class='{{statusError && "alert-error" || "alert-success"}}')
                        strong(ng-bind='status') 
                        |  {{statusMessage}}
            .row-fluid
                .span12
                    h4 Tooted
                    table.table.table-bordered.table-hover.table-condensed
                        thead
                            tr
                                th Toode
                                th Kogus
                                th Hind
                        tbody#prod-tbody
                            tr(ng-repeat='product in products')
                                td(ng-bind='product.name')
                                td 
                                    i.gi-circle_plus(ng-click='changeQuantity(product, 1)')
                                    span(ng-bind='quantity(product)')
                                    i.gi-circle_minus(ng-click='changeQuantity(product, -1)')

                                td 
                                    span(ng-bind='product.price')
                                    |  €
                            tr
                                th
                                th Kokku
                                th
                                    span(ng-bind='sum()')
                                    |  €
                    .btn-group
                        button.btn.btn-large(ng-repeat='paytype in allowedPaytypes()', ng-click='pay(paytype)') {{paytype.name}}
            br
            .row-fluid(ng-show='transactions.length > 0')
                .span12
                    h4 Viimased tehingud
                    table.table.table-bordered.table-hover
                        thead
                            tr
                                th Aeg
                                th Nimi
                                th Summa
                                th Makseviis
                        tbody
                            tr(ng-repeat='transaction in transactions', ng-click='invalidTransaction(transaction)')
                                td(ng-bind='transaction.formattedTime')
                                td(ng-bind='transaction.user')
                                td {{transaction.sum}} €
                                td(ng-bind='transaction.type')
