extends layout

block content
        script
            $(function(){
                //Client search functionality
                $("#inputIcon").typeahead({
                    source : function(query, process){
                                $.get("/users",{query: query},function(data){
                                    process(data);
                                });
                            }
                });
                $("#inputIcon").change(function(){
                    userExists(function(exists){
                        $("#inputIcon").closest(".control-group").toggleClass("error",!exists);
                        $("#inputIcon").closest(".control-group").toggleClass("success",exists);
                        var reb = "reb!";
                        var showReb = $("#inputIcon").val().substring(0, reb.length) === reb;
                        $("#fox-beer").toggle(showReb);
                    });
                });
                function userExists(callback){
                    $.get("/users", function(data){
                        var name = $("#inputIcon").val();
                        var exists = $.inArray(name,data) != -1;
                        callback(exists);
                    });
                }
                //Product table total
                function calculateTotal(){
                    var total = getTotal();
                    $("#sum").html(total);
                }
                function getTotal(){
                    var total = 0;
                    $("#prod-tbody tr:visible .price").each(function(i, val){
                        var qty = Number($(val).parent().siblings("td").children(".qty").html());
                        total += Number($(val).html())*qty;
                    });
                    return total;
                }
                //Adding and removing products
                $(".prod-add").click(function(){
                    var qty = $(this).siblings(".qty");
                    var newQty = Number(qty.html())+1;
                    qty.html(" "+newQty+" ");
                    calculateTotal();
                });
                $(".prod-remove").click(function(){
                    var qty = $(this).siblings(".qty");
                    var newQty = Number(qty.html())-1;
                    if(newQty < 0) {
                        return;
                    }
                    qty.html(" "+newQty+" ");
                    calculateTotal();
                });
                function addTransaction(total,method,callback){
                    userExists(function(exists){
                        $.post("/transaction",{sum: total, type: method}, function(data){
                            if(data.status === 'success') {
                                var d = new Date();
                                var transaction = $("<tr class ='success'><td>"+d.getHours()+":"+d.getMinutes()+"</td><td>"+$("#inputIcon").val()+"</td><td>"+total+" €</td><td>"+method+"</td></tr>");
                                transaction.prependTo("#trans-tbody");
                                setTimeout(function(){
                                    transaction.removeClass("success");
                                },2000);
                                $(".qty").html(" 0 ");
                            }
                            callback(exists && data.status === 'success');
                        });
                    });
                }
                $("#pay").click(function(){
                    addTransaction(getTotal());
                });
                $("#one-beer").click(function(){
                    addTransaction("1","Sulas",function(success){
                        if(success){
                            $("#success-message").show().delay(2000).slideUp();
                        }
                        else{
                            $("#noname-error").show().delay(2000).slideUp();
                        }
                    });
                });
                $("#one-beer,#fox-beer,#details-toggle").tooltip();
            });
        .container-fluid
            .row-fluid
                .span12
                    h2 Kassa
            br
            .row-fluid
                .span5
                    .control-group
                        .controls
                            .input-prepend.input-append
                                span.add-on
                                    i.icon-user
                                input#inputIcon(type='text', placeholder='Kliendi nimi')
                                button#fox-beer.btn.btn-success(title='Vajuta siia kui tahad võtta rebaseõlu', style='display:none;') Rebaseõlu
                                button#one-beer.btn.btn-primary(title='Vajuta siia kui tahad osta ainult ühe õlle') Õlu      
                .span7
                    #noname-error.alert.alert-error(style='display:none;')
                        strong Viga! 
                        | Sisestatud nime ei eksisteeri, palun sisesta uuesti.
                    #success-message.alert.alert-success(style='display:none;')
                        strong Õnnestus! 
                        | Kõik on korras, tooted läksid kirja.
            br
            .row-fluid
                .span12
                    #accordion.accordion
                        .accordion-group
                            .accordion-heading
                                a#details-toggle.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', title='Kui tahad rohkem valikuid siis vajuta siia') Täpsemalt
                            #collapseOne.accordion-body.collapse.input
                                .accordion-inner 
                                    table.table.table-bordered.table-hover
                                        thead
                                            tr
                                                th Toode
                                                th Kogus
                                                th Hind
                                        tbody#prod-tbody
                                            tr#beer
                                                td Õlu
                                                td 
                                                    i.gi-circle_plus.prod-add
                                                    span.qty  0 
                                                    i.gi-circle_minus.prod-remove

                                                td 
                                                    span.price 1
                                                    |  €
                                            tr#nonalc
                                                td Kali/Limonaad
                                                td 
                                                    i.gi-circle_plus.prod-add
                                                    span.qty  0 
                                                    i.gi-circle_minus.prod-remove

                                                td 
                                                    span.price 0.5
                                                    |  €
                                            tr#foxbeer
                                                td Rebaseõlu
                                                td 
                                                    i.gi-circle_plus.prod-add
                                                    span.qty  0 
                                                    i.gi-circle_minus.prod-remove

                                                td 
                                                    span.price 0
                                                    |  €
                                            tr
                                                th
                                                th Kokku
                                                th
                                                    span#sum 0
                                                    |  €
                                    .btn-group
                                        button#pay.btn.btn-primary Sulas
                                        button.btn Mobiiliga
                                        button.btn Ettemaksuga
                                        button.btn.btn-danger Võlg
            .row-fluid
                .span12
                    h4 Viimased tehingud
            .row-fluid
                .span12
                    table.table.table-bordered.table-hover
                        thead
                            tr
                                th Aeg
                                th Nimi
                                th Summa
                                th Makseviis
                        tbody#trans-tbody
                            each transaction in transactions
                                tr
                                    td= transaction.time
                                    td= transaction.user
                                    td #{transaction.sum} €
                                    td= transaction.type
