doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    script(type='text/javascript', src='/javascripts/jquery-1.8.1.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  body
    block content