.row(ng-controller='ProductsController', ng-show='products != null')
    .col-md-12
        br
        p(ng-hide='products.length > 0') Tooteid ei ole. Uute toodete lisamiseks vajuta nuppu "Lisa toode"
        table.table.table-bordered.table-hover(ng-show='products.length > 0')
            thead
                tr
                    th(ng-click='sort("name")') Toode
                    th(ng-click='sort("price")') Hind
                    th(ng-click='sort("quantity")') Kogus
            tbody
                tr(ng-repeat='product in sortedProducts()', ng-click='openProductDialog(product)')
                    td(ng-bind='product.name')
                    td(ng-bind-template='{{product.price}} €')
                    td(ng-bind='product.quantity', style='{{product.quantity <= 0 && "color: red;" || ""}}')
            tfoot
                tr
                    th
                    th Kokku
                    th(ng-bind='totalProducts()')
        button.btn.btn-primary(ng-click='openProductDialog()') Lisa toode