.row(ng-controller='StatusesController', ng-show='statuses != null')
    br
    .col-md-12
        p(ng-hide='statuses.length > 0') Staatuseid ei ole. Lisamiseks vajuta nuppu "Lisa staatus"
    .col-md-3
        table.table.table-bordered.table-hover(ng-show='statuses.length > 0')
            thead
                tr
                    th Nimetus
            tbody
                tr(ng-repeat='status in statuses', ng-click='openStatusDialog(status)')
                    td(ng-bind='status.name')
        button.btn.btn-primary(ng-click='openStatusDialog()') Lisa staatus