.row(ng-controller='StocktakingController')
    .col-md-12
        br
        p(ng-hide='stocktakings.length > 0') Inventuure pole veel tehtud. Uue inventuuri tegemiseks vajuta nuppu "Inventuur". 
        p Inventuuri tegemine nullib kõikide kasutajate saldod ning eemaldab tehingud. Tulemus salvestatakse CSV faili, mida saab igal ajal siit menüüst uuesti alla laadida.
        table.table.table-bordered.table-hover(ng-show='stocktakings.length > 0')
            thead
                tr
                    th Aeg
                    th Saldo summa
                    th Tehingute summa
                    th Laoseis
                    th
            tbody
                tr(ng-repeat='stocktaking in stocktakings')
                    td(ng-bind='stocktaking.formattedTime')
                    td {{stocktaking.balancesSum}} €
                    td {{stocktaking.transactionsSum}} €
                    td {{stocktaking.productsQuantity}}
                    td
                        button.btn.btn-success(ng-click='download(stocktaking)') Laadi alla
                        &nbsp;
                        button.btn(ng-click='view(stocktaking)') Vaata
        button.btn.btn-danger(ng-click='stocktaking()') Inventuur
