.row
    .col-md-12
        h3 Inventuur
.row
    .col-md-12
        p Loomise aeg:  {{stocktaking.formattedTime}}
.row
    .col-md-12
        button.btn.btn-success(ng-click='download(stocktaking)') Laadi alla
.row(ng-show='stocktaking.users.length > 0')
    .col-md-12
        h4 Muutunud saldod
        table.table.table-bordered.table-hover
            thead
                tr
                    th Staatus
                    th Eesnimi
                    th Perenimi
                    th Õllenimi
                    th Saldo
            tbody
                tr(ng-repeat='user in stocktaking.users')
                    td {{user.status}}
                    td {{user.firstName}}
                    td {{user.lastName}}
                    td {{user.beerName}}
                    td {{user.balance}} €
            tfoot
                tr
                    th
                    th
                    th
                    th Kokku
                    th {{stocktaking.balancesSum}} €
.row(ng-show='stocktaking.transactions.length > 0')
    .col-md-12
        h4 Tehingud
        table.table.table-bordered.table-hover
            thead
                tr
                    th Aeg
                    th Nimi
                    th Summa
                    th Makseviis
            tbody
                tr(ng-repeat='transaction in stocktaking.transactions', class='{{transaction.invalid ? "danger" : ""}}')
                    td {{transaction.formattedTime}}
                    td {{transaction.user.label}}
                    td {{transaction.sum}} €
                    td {{transaction.paytype}}
.row
    .col-md-3
        table.table.table-bordered.table-hover
            thead
                tr
                    th Makseviis
                    th Kokku
            tbody
                tr(ng-repeat='(type, sum) in stocktaking.sums')
                    td {{type}}
                    td {{sum}} €
            tfoot
                tr
                    th Kokku
                    th {{stocktaking.transactionsSum}} €
.row(ng-show='stocktaking.products.length > 0')
    .col-md-12
        h4 Laoseis
        table.table.table-bordered.table-hover
            thead
                tr
                    th Toode
                    th Hind
                    th Kogus
            tbody
                tr(ng-repeat='product in stocktaking.products')
                    td {{product.name}}
                    td {{product.price}} €
                    td {{product.quantity}}
            tfoot
                tr
                    th
                    th Kokku
                    th {{stocktaking.productsQuantity}}
.row(ng-show='previous')
    .col-md-12
        h3 Võrdlus eelmise inventuuriga
        p Loomise aeg:  {{previous.formattedTime}}
        p Laoseisu muutus: {{stocktaking.productsQuantity - previous.productsQuantity}} (Laoseis eelmine inventuur: {{previous.productsQuantity}})
        p
            a(ng-href='#stocktaking/{{previous.id}}') Vaata eelmist
.row
    .col-md-12
        button.btn.btn-primary(ng-click='back()') Tagasi
