.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='close()') ×
    h2 Lisa makseviis
.modal-body.form-horizontal
    .control-group
        label.control-label(for='paytypeName') Nimetus
        .controls
            input#paytypeName(type='text', placeholder='Nimetus', ng-model='object.name')
    .control-group
        label.control-label(for='affectsBalance') Mõjutab saldot
        .controls
            toggle(ng-model='object.affectsBalance')
    .control-group
        label.control-label(for='affectsQuantity') Mõjutab laoseisu
        .controls
            toggle(ng-model='object.affectsQuantity')
    .control-group
        label.control-label(for='credit') Kreedit
        .controls
            toggle(ng-model='object.credit')
    .control-group
        label.control-label Lubatud staatustele
        .controls
            checkbox(ng-model='status.checked', ng-repeat='status in statuses', ng-click='updateForStatus(status)') {{status.name}}
.modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true', ng-click='close()') Sulge
    button.btn.btn-primary(ng-click='save(object)') Salvesta