.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='close()') ×
    h2 Lisa makseviis
.modal-body.form-horizontal
    .control-group
        label.control-label(for='paytypeName') Nimetus
        .controls
            input#paytypeName(type='text', placeholder='Nimetus', ng-model='object.name')
        .control-group
        label.control-label(for='affectsBalance') Mõjutab saldot
        .controls
            label.checkbox(for='affectsBalance')
                input#affectsBalance(type='checkbox', checked=true, ng-model='object.affectsBalance')
        br
        label.control-label Lubatud staatustele
        .controls
            label.checkbox(ng-repeat='status in statuses', for='{{status._id}}_allowedForStatus')
                input(id='{{status._id}}_allowedForStatus', type='checkbox', value='{{status.name}}', ng-click='updateForStatus(status)', ng-model='status.checked')
                | {{status.name}}
.modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true', ng-click='close()') Sulge
    button.btn.btn-primary(ng-click='save(object)') Salvesta