.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='close()') ×
    h3#addStatusLabel Lisa staatus
.modal-body.form-horizontal
    .control-group
        label.control-label(for='statusName') Nimetus
        .controls
            input#statusName(type='text', placeholder='staatus',ng-model='status.name')
.modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true', ng-click='close()') Sulge
    button.btn.btn-primary(ng-click='save(status)') Salvesta