.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='close()') ×
    h3(ng-show='change') Lisa kasutaja
    h3(ng-hide='change') Muuda kasutajat
.modal-body.form-horizontal
    .control-group
        label.control-label(for='inputStatus') Staatus
        .controls
            select(ng-model='object.status', ng-options='status.name as status.name for status in statuses', required)
    .control-group
        label.control-label(for='inputFirstname') Eesnimi
        .controls
            input#inputFirstname(type='text', placeholder='Eesnimi', ng-model='object.firstname')
    .control-group
        label.control-label(for='inputLastname') Perenimi
        .controls
            input#inputLastname(type='text', placeholder='Perenimi', ng-model='object.lastname')
    .control-group
        label.control-label(for='inputBeername') Õllenimi
        .controls
            input#inputBeername(type='text', placeholder='Õllenimi', ng-model='object.beername')
            input(type='hidden', ng-model='object._id')
.modal-footer
    button.btn(data-dismiss='modal', aria-hidden='true', ng-click='close()') Sulge
    button.btn.btn-primary(ng-click='save(object)') Salvesta