.modal-backdrop.am-fade {
	opacity: .5;
	transition: opacity .15s linear;
}

.modal-backdrop.am-fade.ng-enter {
	opacity: 0;
}

.modal-backdrop.am-fade.ng-enter, .modal-backdrop.am-fade.ng-enter.ng-enter-active {
	opacity: .5;
}

.modal-backdrop.am-fade.ng-leave {
	opacity: .5;
}

.modal-backdrop.am-fade.ng-leave, .modal-backdrop.am-fade.ng-leave-active {
	opacity: 0;
}