doctype html
html(ng-app='fratpos')
    head
        block title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css')
        link(rel='shortcut icon', href='/img/favicon.ico')
    body
        block content
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.8.3/angular-resource.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.3/angular-animate.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.tpl.min.js')
        script(type='text/javascript', src='/js/Chart.min.js')
        script(type='text/javascript', src='/js/module.js')
        script(type='text/javascript', src='/js/controllers.js')
        block afterScript