doctype html
html(ng-app='fratpos')
    head
        block title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootflat.min.css')
        link(rel='shortcut icon', href='/img/favicon.ico')
    body
        block content
        script(type='text/javascript', src='/webjars/jquery/1.12.4/jquery.min.js')
        script(type='text/javascript', src='/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js')
        script(type='text/javascript', src='/webjars/angularjs/1.7.2/angular.min.js')
        script(type='text/javascript', src='/webjars/angularjs/1.7.2/angular-route.min.js')
        script(type='text/javascript', src='/webjars/angularjs/1.7.2/angular-resource.min.js')
        script(type='text/javascript', src='/webjars/angularjs/1.7.2/angular-animate.min.js')
        script(type='text/javascript', src='/webjars/angular-strap/2.3.12/dist/angular-strap.min.js')
        script(type='text/javascript', src='/webjars/angular-strap/2.3.12/dist/angular-strap.tpl.min.js')
        script(type='text/javascript', src='/js/icheck.min.js')
        script(type='text/javascript', src='/js/Chart.min.js')
        script(type='text/javascript', src='/js/module.js')
        script(type='text/javascript', src='/js/controllers.js')
        block afterScript
