doctype html
html(ng-app='fratpos')
    head
        block title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootflat.min.css')
        link(rel='shortcut icon', href='/img/favicon.ico')
    body
        block content
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js')
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js')
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/angular@1.7.2/angular.min.js')
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/angular-route@1.7.2/angular-route.min.js')
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/angular-resource@1.7.2/angular-resource.min.js')
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/angular-animate@1.7.2/angular-animate.min.js')
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/angular-strap@2.3.12/dist/angular-strap.min.js')
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/angular-strap@2.3.12/dist/angular-strap.tpl.min.js')
        script(type='text/javascript', src='/js/icheck.min.js')
        script(type='text/javascript', src='/js/Chart.min.js')
        script(type='text/javascript', src='/js/module.js')
        script(type='text/javascript', src='/js/controllers.js')
        block afterScript
